@font-face {
	font-family: "SFProDisplay-Regular", sans-serif;
	src: url("SFProDisplay-Regular.woff2") format("woff2"), url("SFProDisplay-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SFProDisplay-Medium", sans-serif;
	src: url("SFProDisplay-Medium.woff2") format("woff2"), url("SFProDisplay-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SFProDisplay-Semibolt", sans-serif;
	src: url("SFProDisplay-Semibolt.woff2") format("woff2"), url("SFProDisplay-Semibolt.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SFProDisplay-Bolt", sans-serif;
	src: url("SFProDisplay-Bolt.woff2") format("woff2"), url("SFProDisplay-Bolt.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
